.lib {
    display: inline-block;
}

.topheader {
    background-color: #ff5521;
    border-bottom: 1px solid #e86338;
}

.topheader a {
    color: #fff !important;
}

#menu-top-left-menu {
    margin-left: 0;
    margin-bottom: 0;
}

#menu-top-menu-login,
#menu-top-menu-logout {
    margin-bottom: 0;
}

#menu-top-left-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.head-tagline {
    font-size: 18px;
}

.head-tagline span {
    color: #e2d821;
}

.mainheader {
    background-color: #ff501b;
    padding: 10px 0;
}

.little-nav {
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
}

.little-nav li {
    position: relative;
    list-style-type: none;
    display: inline-block;
    margin: 3px 0;
}

.little-nav li a {
    padding: 0 6px;
    color: #fff !important;
}

.little-nav li a:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "|";
}

.little-nav li:last-child a:after {
    display: none;
}

.sold {
    background-color: #ff501b;
    border-radius: 10px;
}

.sold p {
    padding: 5px 0;
    color: #fff;
}

.rightheaderwrap {
    width: 100%;
}

.rightheaderwrap .category-search-form {
    width: 100%;
    text-align: center;
}

.rightheaderwrap #search {
    width: 100%;
    border-radius: 20px;
    text-align: center;
}

.rightheaderwrap #submit-button {
    right: 0;
}

.view-cart,
.wishlist {
    position: unset;
}

.mainbanner-slider,
.mainbanner-slider-left,
.mainbanner-slider-right {
    position: relative;
}

.slides .item img {
    width: 100%;
    height: auto;
}

.sectionarea-02>div {
    padding: 0;
}

.sectionarea-03 {
    position: relative;
    padding: 3em 0;
}

.sectionarea-03:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    content: "";
    background-color: #eeeef0;
    z-index: 1;
}

.sectionarea-03 .container {
    position: relative;
    z-index: 2;
}

.sectionarea-03 h3 {
    text-align: center;
}

.sectionarea-03 h3 span {
    display: block;
    font-family: "Myriad Pro", sans-serif;
    font-style: italic;
}

.sectionarea-03 img {
    margin: 15px auto;
}

.mainbanner-slider .flex-viewport {
    max-height: 500px;
}

.mainbanner-slider-left .flex-viewport,
.mainbanner-slider-right .flex-viewport {
    max-height: 300px;
}

.featured-product2 {
    margin-bottom: 0;
}

.woocommerce a.button.add_to_cart_button,
.woocommerce a.added_to_cart,
.woocommerce a.button.product_type_grouped,
.woocommerce a.button.product_type_external {
    margin: 10px 0;
}

.added_to_cart {
    width: 100% !important;
}

#content .container {
    margin-bottom: 30px;
}

#content .bg-green {
    margin-top: 50px;
    position: relative;
}

#content .bg-green.full {
    margin-top: 0;
    padding-top: 50px;
}

#content .bg-green.full .container {
    padding-bottom: 30px;
}

#content .bg-green:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    content: "";
    background-color: #46bf62;
    z-index: 1;
}

#content .bg-green.full:after {
    height: 100%;
}

#content .container {
    position: relative;
    z-index: 2;
}

.item-product .product-info {
    padding: 17px;
    background-color: #fff;
}

.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-indent: 4px;
    text-align: center;
    line-height: 1 !important;
    border-radius: 100%;
    color: red !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}

.added_to_cart {
    width: 100%;
}

.woocommerce-mini-cart__total {
    margin-bottom: 20px;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
    margin: 0 2px;
    width: 48%;
    border: 1px solid transparent;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    color: #fff !important;
}

.mainheader {
    position: relative;
    z-index: 99;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-box-shadow: -1px 9px 17px -8px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: -1px 9px 17px -8px rgba(0, 0, 0, 0.38);
    box-shadow: -1px 9px 17px -8px rgba(0, 0, 0, 0.38);
}

.mainheader.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 0;
    -webkit-box-shadow: -1px 10px 17px -8px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -1px 10px 17px -8px rgba(0, 0, 0, 0.53);
    box-shadow: -1px 10px 17px -8px rgba(0, 0, 0, 0.53);
}

.mainheader .head-tagline {
    margin-top: 5px;
}

.mainheader.fixed .sparkle-logo,
.mainheader.fixed .lib {
    margin-top: 10px;
}

.mainheader.fixed .little-nav {
    margin-top: 5px;
}

.woocommerce-mini-cart__empty-message {
    color: #ccc;
    padding: 10px 5px 0;
}

#content .heading-center {
    padding: 10px;
    text-align: center;
    color: #fff;
    border-bottom: 3px solid #fff;
}

.heading-tagline {
    padding: 10px 0;
    background-color: #e2d821;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 9;
}

.bg-green.full .product-slider .item-product {
    position: relative;
    padding-top: 40px;
    background-color: #fff;
}

.bg-green.full .product-slider .item-product .product-info {
    padding-bottom: 0;
}

.bg-green.full .product-slider .item-product .prod-tagline {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #ff501b;
    color: #fff;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    float: left;
    width: 33.33%;
    padding: 0 !important;
}

.product-thumb {
    max-height: 250px;
}

.woocommerce-address-fields__field-wrapper {
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {

    .topheader .quickinfowrap,
    .topheader .toplinkswrap {
        float: left;
        width: auto;
    }

    .topheader .toplinkswrap {
        float: right;
    }
}

@media (max-width: 992px) {
    #masthead {
        position: unset;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    #masthead .header-container .mainheader {
        position: unset;
        padding: 20px 0;
    }

    .sectionarea-03 h2 {
        text-align: center;
    }

    .topheader {
        padding: 15px 20px 0;
    }

    .topheader .quickinfowrap {
        margin-bottom: 0;
    }

    .sp-mid {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .rightheaderwrap {
        margin-bottom: 0;
    }

    .woocommerce-account .woocommerce-MyAccount-navigation ul li {
        width: 50%;
    }
}

@media (max-width: 525px) {
    .rightheaderwrap .category-search-form {
        border: none;
    }

    .rightheaderwrap #search {
        border-radius: 0;
    }
}

@media (max-width: 480px) {
    .rightheaderwrap {
        display: block;
    }

    .topheader .quickinfowrap,
    .topheader .toplinkswrap {
        width: 100%;
        float: none;
        text-align: center;
    }
}